body {
  font-size: 10rem;
}

h1,
.balance-title {
  font-size: 1.3rem;
  color: rgba(255, 255, 255, 0.5);
}

.balance-title {
  margin-bottom: -5px;
}

main {
  padding: 0 30px;
}

.coin-current {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.coin-current p {
  font-size: 4rem;
}
.coin-current button i {
  font-size: 4rem;
  color: #ee5246;
}
.coin-current button i:hover {
  font-size: 4.5rem;
  color: #d4716a;
}

.coin-balance {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.negative {
  color: rgb(249, 62, 62);
}
.positive {
  color: green;
}

.your-balance {
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  padding: 20px 0;
}
.balance {
  font-size: 4rem;
}

.coin-primary-balance img {
  width: 30px;
}
.coin-primary-balance {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.coin-text {
  font-size: 2rem;
}

.coin-shares p {
  font-size: 1.5rem;
  text-align: end;

}

.about-coin p:first-child {
  padding-top: 20px;
  font-size: 2rem;
  font-weight: bold;
}

.coin-des {
  max-height: 100px;
  font-size: 1.5rem;
  overflow: hidden;
  line-height: 1.3;
}
.coin-des a {
  font-size: inherit;
  text-decoration: none;
  color: #ee5246;
}

.coin-des a:hover,
.coin-des a:focus {
  color: #d4716a;
}

.coin-des.expand {
  max-height: none;
}

.view-more {
  color: #ee5246;
  font-size: 1.5rem;
}

.trade {
  margin-top: 1.5rem;
  background-color: #ee5246;
  font-size: 2rem;
  padding: 8px;
  width: 100%;
  border-radius: 75px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  align-items: flex-end;
  justify-content: center;
}

.modal-content {
  background-color: #292c2c;
  padding: 20px;
  width: 100%;
  height: 50%;
  position: absolute;
  bottom: 0;
}

.close {
color: white;
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-open {
  overflow: hidden;
}


.buy-coin,
.sell-coin {
  display: flex;
  align-items: center;
  justify-content: center;
}

.anchors {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  gap: 2rem;
}

.buy-coin,
.sell-coin {
  justify-content: flex-start;
  text-decoration: none;
  gap: 2rem;
  width: 100%;
  padding: .5rem;
  border-radius: 1rem;
}

.buy-coin i,
.sell-coin i {
  font-size: 2.5rem;
}

.btn-text {
  display: flex;
  font-size: 3rem;
  flex-direction: column;
}
.buttons span {
  display: block;
}

.span-header {
  font-weight: 700;
}

.buy-coin:hover,
.sell-coin:hover {
  background-color: #414242;
}


