main {
  padding: 0 2rem;
}

.order-header {
  display: flex;
  font-size: 3rem;
  align-items: center;
  justify-content: space-between;
}

.order-header a {
  font-size: inherit;
}

.order-header span {
  background-color: rgb(56, 54, 54);
  padding: 0.7rem 3rem;
  border-radius: 3rem;
}

.buy-sell {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
}

.pill {
  font-size: 2.5rem;
  display: flex;
  background-color: rgb(56, 54, 54);
  border-radius: 3rem;
  width: min-content;
  gap: 1rem;
}
.pill span {
  border-radius: 3rem;
  padding: 0.7rem 3rem;
}

.pill span:hover {
  cursor: pointer;
}

.active-pill {
  background-color: #ee5246;
}

.amount {
  width: fit-content;
}
.amount input {
  width: 3.3rem;
  border: none;
  font-size: 6rem;
}
.amount input:focus {
  outline: none; 
  border: none; 
  cursor: none;
}


.amount span {
  font-size: 6rem;
  color: #6d7272;
}
.coin-share {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 3rem;
}

.coin-share i,
.coin-share span {
  color: #ee5246;
}

.balance-info {
  margin-top: 3rem;
}

.upper,
.lower {
  margin-bottom: 2rem;
}

.upper {

  display: flex;
  align-items: center;
  gap: 1.5rem;
  font-size: 3.5rem;
}

.upper img {
  width: 3rem;
}

.cash-symbol svg {
  display: flex;
  font-size: 3rem;
  width: 3rem;
  margin: auto;
  fill: #ee5246;
}

.lower {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.lower {
  font-size: 3.5rem;
}

.lower span {
  font-size: inherit;
}

.lower ul {
  display: flex;
  flex-direction: column;
  width: 100%
}

.lower li {
  display: flex;
  justify-content: space-between;
}

.coin-name {
  text-transform: capitalize;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


