main {
  padding: 0 2rem;
}

.order-header {
  display: flex;
  font-size: 3rem;
  align-items: center;
  justify-content: space-between;
}

.order-header a {
  font-size: inherit;
}

.buy-sell {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
}

.pill {
  font-size: 2.5rem;
  display: flex;
  background-color: rgb(56, 54, 54);
  border-radius: 3rem;
  width: min-content;
  gap: 10px;
}
.pill span {
  border-radius: 3rem;
  padding: 0.7rem 3rem;
}

.active-pill {
  background-color: #ee5246;
}

.amount {
  width: fit-content;
}
.amount input {
  border: none;
  font-size: 6rem;
}
.amount input:focus {
  outline: none; 
  border: none; 
  cursor: none;
}


.amount span {
  font-size: 6rem;
  color: #6d7272;
}
.coin-share {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 3rem;
}

.coin-share i,
.coin-share span {
  color: #ee5246;
}

.balance-info {
  margin-top: 3rem;
}

.upper,
.lower {
  margin-bottom: 2rem;
}

.upper {

  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 3.5rem;
}

.upper img {
  width: 30px;
  border-radius: 50px;
}

.cash-symbol svg {
  display: flex;
  font-size: 3rem;
  width: 30px;
  margin: auto;
  fill: #ee5246;
}

.lower {
  display: flex;
  align-items: center;
  gap: 15px;
}

.lower {
  font-size: 3.5rem;
}

.lower span {
  font-size: inherit;
}

.lower ul {
  display: flex;
  flex-direction: column;
  width: 100%
}

.lower li {
  display: flex;
  justify-content: space-between;
}

.coin-name {
  text-transform: capitalize;
}


