* {
  font-size: 62.5%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1.5;
  background-color: #292c2c;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}

nav {
  display: flex;
  justify-content: space-evenly;
  padding: 2rem 8rem;
}
.right-nav, .left-nav {
    display: flex;
    gap: 8rem;
    align-items: center;
}
nav h1 {
  color: #ee5246;
  font-size: 4rem;
}

nav ul {
  display: flex;
  gap: 2.5rem;
}

nav a {
  font-size: 2.3rem;
  text-transform: capitalize;
  text-decoration: none;
}

nav a:hover,
nav a:focus {
    color: #ee5246;
    cursor: pointer;
}

.search-bar input {
  border: 2.5px solid #ee5246;
  border-radius: 3px;
  min-height: 30px;
  font-size: 1rem;
}

.btn-container button {
  border: none;
  padding: 0.5rem 2.3rem;
  border-radius: 18px;
  background-color: #ee5246;
  text-transform: uppercase;
  font-size: 1.8rem;
}
.btn-container button:first-child {
  background-color: transparent;
}
