.watchlist {
  font-size: 2.5rem;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  justify-content: space-between;
}

.header i {
  font-size: 2rem;
  color: #ffffff;
}


.delete p {
  display: none;
  font-size: 2rem;
  font-weight: 500;
}

.header i:hover,
.header i:focus,
.delete p:hover,
.delete p:focus {
color: #cec7c7;
cursor: pointer;
}

.watchlist-container,
.header {
  padding: 0 2rem;
  
}

.coin-img,
.coin-img img {
  width: 40px;
  height: 40px;
}
.watchlist-container {
  font-size: 6rem;
}

.coin {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  /* padding: .5rem; */
  border-radius: 5px;
}

.coin:hover {
  background-color: #343636;
  cursor: pointer;
}
.coin span {
  display: flex;
}

.coin-info {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 3.6rem;
}

.coin-name h2 {
  font-weight: 700;
}

.coin-name span {
  text-transform: uppercase;
  color: #b8b7b7;
}

.hidden {
  display: none !important;
}

.price-24-high,
.current-price {
  justify-content: flex-end;
}

.price-24-high {
  display: flex;
  align-items: center;
  gap: 5px;
}

.positive {
  color: rgb(62, 167, 62);
}

.negative {
  color: rgb(243, 29, 29);
}

canvas {
  width: 60px !important;
}

.canvas-container {
  display: flex;
  align-items: center;
}

.empty-watchlist {
  font-size: 3rem;
  text-align: center;
  padding: 0 2rem;
}
.empty-watchlist a {
  font-size: inherit;
  text-decoration: none;
  color: #ee5246;
}
